<%= link_to "Home", root_path %>

<h1>Collections</h1>

<ul>
    <% @collections.each do |collection| %>
        <li>
            <%= link_to collection.name, collection %>
        </li>
    <% end %>
</ul>

<%= link_to "New Collection", new_collection_path %>