<h1>Automakers</h1>
<ul>
    <% @automakers.each do |automaker| %>
        <li>
            <%= link_to automaker.name, automaker %>
        </li>
    <% end %>
</ul>

<%= link_to "New Automaker", new_automaker_path %>