<%= link_to "Home", root_path %>

<h1>Cars</h1>

<ul>
    <% @cars.each do |car| %>
        <li>
            <%= link_to "#{car.automaker.name} #{car.name}", car %>
        </li>
    <% end %>
</ul>

<%= link_to "New Car", new_car_path %>